.order-list {
    margin-top: 40px;
}

.title-wrap {
    background: #fda30e;
    padding: 10px 5px;
    color: #fff;
}

.order-list table {
    width: 100%;
}

.order-list table img {
    max-height: 40px;
}

.order-list table th,
.order-list table td {
    padding: 10px;
    border: 1px solid #000;
}
